.banner-background {
    background-image: url('../../../public/images/blacknav.webp');
    background-size: cover;
    background-position: center;
}

.main-section-about {
    background-image: url('../../../public/images/aboutcover.jpg');
    background-size: cover;
    background-position: center;
}

.titlebar {
    @apply mb-4;
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0), green, green, rgba(0, 128, 0, 0));

    h1 {
        @apply lg:text-5xl md:text-3xl sm:text-2xl text-xl uppercase text-center py-2;
    }
}

.babus-font{
    @apply mt-4 lg:text-3xl md:text-2xl text-xl z-10 mb-4 uppercase font-bold;
    letter-spacing: 1.3px;
}

.tv-background2 {
    @apply xl:h-[530px] lg:h-[400px] md:h-[350px] h-[250px] lg:bg-fixed bg-scroll bg-cover;
    background-image: url('../../../public/images/gallery-images/stage.webp');
}