.banner-background {
    background-image: url('../../../public/images/blacknav.webp');
    background-size: cover;
    background-position: center;
}

.main-section-contact {
    background-image: url('../../../public/images/contact.jpg');
    background-size: cover;
    background-position: center;
}

.info-card {
    @apply w-full py-8 px-2 text-center bg-[#00800022] min-h-full;
    border-left: 5px solid green;
}